@import url('https://fonts.googleapis.com/css2?family=Acme&family=Arimo:wght@400;500;600;700&family=Dancing+Script:wght@400;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background-color: rgb(222, 219, 219);
  font-family: 'Arimo', sans-serif;
  color: rgb(0, 0, 0);
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 16px;
}
html body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
html body #root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
h2{
  font-family: Acme, serif;
  font-size: 60px;
  color: rgb(227, 106, 13);
  letter-spacing: -0.1rem;
}


@keyframes pageChange {
    from {
        transform: translateY(-10%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.homePage{
    position: relative;
    width: 100%;
    animation: pageChange 1s;
}
.homePage h2{
    width: 70%;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
}
.presentation{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 100%;
    width: 50%;
}
.description p{
    font-size: 20px;
    text-align: left;
    margin-top: 2rem;
    font-weight: 600;
    animation: slideIn 1s;
}
.description .special{
    font-weight: 800;
    font-size: 25px;
    color: rgb(227, 106, 13);
    transition: 0.3s ease-in-out;
    animation: slideIn 2s;
}
.description .special:hover{
    transform: scale(1.1);
}
.Picture{
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
.Picture img{
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    filter: blur(0.5rem);
}
.Picture img:hover{
    transform: scale(1.2);
    filter: blur(0rem);
}
.formation{
    display: flex;
    flex-direction: column;
    text-align: left;
    pointer-events: none;
    margin-top: 1.5rem;
}
.formation h3{
    font-size: 25px;
    font-weight: 900;
    text-decoration: underline;
    margin-bottom: 1rem;
}
.formation ul{
    font-size: 20px;
    font-weight: 600;
    list-style: disc;
}
@media screen and (max-width: 1400px) {
    .presentation{
        width: 80%;
    }
}
@media screen and (max-width: 1200px) {
    .presentation{
        width: 90%;
        margin-bottom: 7rem;
        justify-content: space-evenly;
    }
}
@media screen and (max-width: 900px) {
    .presentation{
        flex-direction: column-reverse;
    }
    .Picture{
        margin-bottom: 3rem;
        width: 90%;
        height: 220px;
    }
    .description{
        width: 90%;
    }
    .presentation{
        margin-bottom: 4rem;
    }
}
@media screen and (max-width: 460px) {
    .formation ul{
        list-style-type: none;
    }
}
